#flexiselDemo1, #flexiselDemo2, #flexiselDemo3, #flexiselDemo4, #flexiselDemo5, #flexiselDemo6, #flexiselDemo7 {
    display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    position: relative;
}
#flexiselDemo3 .nbs-flexisel-item {
    text-align: center;
}

#flexiselDemo3 .nbs-flexisel-item img {
    width: auto !important;
    position: relative;
    float: none;
    display: inline-block;
}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 23px;
    height: 44px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 1;
}

.nbs-flexisel-nav-left {
    left: 16px;
    background: url(../img/l-a.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 16px;
    background: url(../img/r-a.png) no-repeat;
}