@mixin praimary-heading($comm-color, $heading) {
	color:$comm-color;
	font-family:'Oxygen', sans-serif;
	font-size:$sub-heading;
	font-weight:500;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}